@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');   
@import '../css/components/header.css';
@import '../css/components/main.css';
@import '../css/components/form-registration.css';
@import '../css/components/pagination.css';

/*******************************************************/

*{ padding: 0;  margin: 0; border: 0;}
*, *:before *:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus, :active{ outline: none}
a:focus, a:active{ outline: none}
nav, footer, header, aside {display: block;}
html, body{ height: 100%; width: 100%; font-size: 100%; line-height: 1;font-size: 14px; -ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input, button, textarea{ font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;  font-family: "Source Serif 4", serif;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;  font-family: "Source Serif 4", serif;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 800;  font-family: "Source Serif 4", serif;}
p{ font-family: "Source Serif 4", serif;}
/*******************************************************/

body{height: 100%;}
/* .wrapper{min-height: 100%; display: flex; flex-direction: column;}
header{width: 100%; height: 50px; background-color: #38ffd0;}
main{flex: 1 1 auto;}
footer{width: 100%; height: 50px; background-color: #88ff38;} */

/*******************************************************/

[class*="__container"]{
    max-width: 1200px; 

    height: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
}

/*******************************************************/



